* {
  /* font-family: 'Varela Round'; */
  /* font-family: 'Anton', sans-serif; */
  /* font-family: 'Ubuntu Condensed', sans-serif; */
  /* font-family: 'Raleway', sans-serif; */
  font-family: 'Source Sans Pro', sans-serif;
}

body {
  background-image: url('./images/blur_bg.jpg') !important;
}

#statistics_block {
  background-image: url('./images/blur_bg.jpg');
}

.content {
  margin: 0px;
  /* max-width: 750px; */
  box-shadow: 0.5px 0.5px 6px rgb(148, 148, 148);
  background: white;
  /* border-radius: 6px; */
  border: 1px solid #dfdfdf;
}

.content-left {
  border-right: 1px solid #d4d4d4;
}

.content-right {
  border-left: 1px solid #d4d4d4;
}

h1, h2, h3, h4 {
  color: #5e5e5e !important;
}

#drank_progressbar {
  margin: auto;
  width: 300px;
  height: 300px;
  position: relative;
}
#a_progressbar {
  margin: auto;
  width: 150px;
  height: 150px;
  position: relative;
}
#b_progressbar {
  margin: auto;
  width: 150px;
  height: 150px;
  position: relative;
}
